@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    margin: 0;
}

body {
    background: #0F172A;
    color: white;
    font-family: Inter, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-area, #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    color: black;
  }
}